*{
    margin:0;
    padding:0;
}

/* centered */
#wrapper {
    margin: 0 auto;
}

nav, aside, section,article, header,footer, main{
    display: block;
}

#mixLayout{
    font-family:Amiko;
}

#mixLayout header, #stairsLayout header {
    height: 123px;
    background: #E5E5E5;
}

#mixLayout nav, #stairsLayout nav  {
    position: relative;
    top: 52px;
    margin: 0% 33%;
}


#mixLayout nav  ul  li, #stairsLayout nav  ul  li { 
    display: inline-block;
    margin-right:14px;
    position: relative;
    margin-left: 48px;
}
 


.selected {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #F72828;
    border-radius: 50%;
}

#mixLayout nav ul li:nth-child(2) , #mixLayout nav ul li:nth-child(3) {  
    top:14px;
}


#stairsLayout nav ul li:nth-child(1){
    top:14px;
    margin-right:18px;
}

#stairsLayout nav ul li:nth-child(3){
    top:14px;
    margin-left:65px;
}


#mixLayout .selected a{
    position:relative;
    top:14px;
    right:18px;
}

#stairsLayout .selected a{
    position: relative;
    right:28px;
    top:14px;
}


#dynamicLayout .selected a{
    position: relative;
    top:14px;
    right:30px;
}

nav > ul  li a {
    color: #000000;
    font-family:Amiko;
    font-size: 24px;
    text-decoration: none;
}
/*-------------------- page 1 ---------------------------*/
#mixLayout .leftSection{
    width: 50%;
    height: 860px;
    float: left;
    clear: both;
}

#mixLayout .leftSection > section{
    top: 267px;
    position: relative;
    left:130px;

}

#mixLayout .leftSection > section > h1{
    letter-spacing: 5px;
    font-size:72px;
}

#mixLayout .leftSection > section > h5{
    font-size:24px;
    width: 374px;
    height: 33px;
    clear:both;
}

#mixLayout .leftSection{
    width: 50%;
    height: 860px;
    float: left;
    clear: both;
}

#mixLayout .rightSection {
    width: 50%;
    height: 860px;
    float: left;
    position:relative; 
}

#mixLayout .leftColumn{
    float: left;
    position:relative;
}

#mixLayout .rectangle4{
    margin-top:135px;
    background:#EBEF18;
    width:75px;
    height: 23px;
    top:135px;
    float:left;
    clear:left;
}

#mixLayout .rectangle5{    
    margin-top:8px; 
    background:#EBEF18;
    margin-right:13px;
    width:136px;
    height: 46px;    
    float:left;
    clear:left;
}

#mixLayout .rectangle6{
    margin-right:15px;
    margin-top:11px; 
    width:134px;
    height: 404px;
    clear:left;    
    float:left;
    background:#EBEF18;
}

#mixLayout .rectangle10{
    margin-top:11px; 
    width:88px;
    height: 28px;
    clear:left;    
    float:left;
    background:#EBEF18;
}

#mixLayout .rectangle11{
    margin-top:7px; 
    width:25px;
    height:26px; 
    clear:left;
    float:left;
    background:#EBEF18;
}

#mixLayout .rectangle11a{
    margin-top:7px; 
    margin-left:7px; 
    width:25px;
    height:26px; 
    background:#EBEF18;
    float:left;
}

#mixLayout .midColumn{
    float: left;
    position: relative;
}

#mixLayout .rectangle2{ 
    margin-top:135px;
    width:246px;
    height:352px;
    background:#EBEF18;
    float:left;
    clear:right;
}

#mixLayout .rectangle7{
    width:123px;
    height:212px;
    margin-top:16px;
    margin-right:14px;
    background:#EBEF18;
    float:left;
    clear:left;
}

#mixLayout .rectangle8{
    width:55px;
    height:105px;
    margin-top:16px;
    margin-right:41px;
    background:#EBEF18;
    float:left;
}

#mixLayout .rectangle9{
    width:110px;
    height:58px;
    margin-top:-100px;
    background:#EBEF18;
    float:right;
    clear:left;
}

#mixLayout .rightColumn{
    float: left;
    position: relative;
}

#mixLayout .rectangle3{
    margin-top:91px;
    margin-left:14px;
    width:28px;
    height:55px;
    background:#EBEF18;
    float:left;
    clear:left;
}

#mixLayout .rectangle3a{
    margin-top:11px;
    margin-left:14px;
    width:28px;
    height:55px;
    background:#EBEF18;
    float:left;
    clear:left;
}

#mixLayout .rectangle3b{
    margin-top:11px;
    margin-left:14px;
    width:28px;
    height:55px;
    background:#EBEF18;
    float:left;
    clear:left;
}

#mixLayout .rectangle3c{
    margin-top:11px;
    margin-left:14px;
    width:28px;
    height:198px;
    background:#EBEF18;
    float:left;
    clear:left;
}

#mixLayout .rectangle8a{
    margin-top:16px;
    margin-left:14px;
    width:55px;
    height:105px;
    background:#EBEF18;
    float:right;
    clear:left;
}


/* ---------------------page 2------------------ */
 #stairsLayout .leftColumn{
    float:left;
    clear:right;
    right:832px;
    margin-left:151px;
    position: absolute;
}

#stairsLayout .leftColumn section{
    margin-top:70px;
    width:457px;
    height:299px;
    float:left;
    clear:both;
    background:#C4C4C4;
 }


#stairsLayout .midColumn{
    margin-top:287px;
    float:right;
    clear:left;
    position: relative;
    margin-right:320px;  
}

#stairsLayout .midColumn section{ 
    margin-bottom:70px;
    width:457px;
    height:299px;
    background:#C4C4C4;
    float:left;
    clear:both;
    position:relative;    
}

#stairsLayout .rightColumn {
    float:right;
    clear:left;
    position: absolute;    
    right:0px;
}

#stairsLayout .rightColumn section{
    width: 169px;
    height:1925px;
    background: #EBEF18;
    position: relative;    
}


#stairsLayout .rightColumn section{
    width: 169px;
    height:1925px;
    background: #EBEF18;
    position: relative;    
}

#stairsLayout .rightColumn .blackBox1 {
    position:relative;
    width: 80px;
    height: 80px;
    bottom:1852px;
    background:linear-gradient(0deg, #000000, #000000), #000000;
}

#stairsLayout .rightColumn .blackBox2 {
    width: 80px;
    height: 80px;
    background: linear-gradient(0deg, #000000, #000000), #000000;
    bottom:1382px;
    position:relative;
}

#stairsLayout .rightColumn .whiteBox {
    width: 80px;
    height: 80px;
    right:0px;
    float:right;
    bottom: 1758px;
    position:relative;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #000000; 
}

#stairsLayout .rightColumn ul {
    font-family: Amiko;
    list-style:none;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    position:relative;
    width: 81px;
    height: 641px;
    top:-855px;
    margin-left: 45px;
}

#stairsLayout .rightColumn > ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 128px;
    /* display: flex;  */
    align-items: flex-end;
    text-align: center;
    color:#000000;
    text-decoration: none;
}

.clear {
    clear: both;
}

footer{
    background: #000000;
    height: 41px;
    width: 100%;
    bottom: 0;
}

footer {
    position: fixed;
}

/*--------------page 3--------------------*/

#dynamicLayout header  {
    position: relative;
    height: 123px;
    background: #F2E9E9;
}

    
#dynamicLayout header #boxTop {
    width: 80px;
    height: 80px;
    margin-right:24px;
    background: black;
    float:right;
    clear:both;
}


#dynamicLayout nav  {
    /* background:#F2E9E9; */
    height: 995px;
    width: 30%;
    background: #E5E5E5;
    display: inline-block;
    margin-right: 64px;
    float: left;
}

#dynamicLayout nav ul {
    margin-left: 38px;
    position: relative;
    top: 123px;
}

#dynamicLayout nav  ul li {   
    display: inline-block;
    
}

#dynamicLayout nav  ul li:nth-child(2) {     
    margin-left: 17px;
}

#dynamicLayout nav  ul li:nth-child(2) {     
    padding-right:58px;
}

#dynamicLayout nav  ul li:nth-child(3) { 
    bottom:14px;
}

#dynamicLayout section.rightNavBlock {
    width: 10%;
    height:995px;
    background:rgba(24, 239, 33, 0.3);
    position: absolute; 
    float: right;
    right:0%;
}

#squareSurface {
    width: 55%;
    display: inline-block;
    margin-top: 123px;
    float: left;
}

#dynamicLayout footer {
    width: 1440px;
    height:463px;
    margin-left:200px;
    background: #EBEF18;
    position: relative;
    float:right; 
}

#dynamicLayout #createSquareBtn {
    width: 80px;
    height: 80px;
    margin-right:24px;
    background: black;
    float:right;
    clear:both;
    display: block;
    outline: none;
    border: 0;
    margin-top: 21px;
}

#dynamicLayout .squareCard {
    background: #000000;
    display: inline-block;
    margin-right: 64px;
    position: relative;
}

#dynamicLayout .squareCard .squareText {
    color: white;
    font-style: normal;
    text-align: center;
    display: inline-block;
    font-size: 64px;
}